* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(227, 227, 227);
  scroll-snap-type: y proximity;
  /* scroll-behavior: smooth; */
}
/* scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* HEADER */
.header {
  background-color: rgb(30, 30, 30);
  min-height: 5vh;
  height: fit-content;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--upcoming-past {
  scroll-snap-align: none;
}
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__side {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nav__side--left {
  justify-content: flex-end;
}
.nav__side--right {
  justify-content: flex-start;
  padding-right: 20px;
}
.nav__side > figure {
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__side > figure > img {
  height: 90%;
  object-fit: cover;
}
.search {
  width: 100%;
  display: flex;
}
.searchTerm {
  width: 100%;
  max-width: 200px;
  border: 2px solid #d90368;
  border-right: none;
  padding: 5px;
  height: 28px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: #00b4cc;
}
.searchButton {
  width: 30px;
  height: 28px;
  border: 1px solid #d90368;
  background: #d90368;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.nav__content {
  width: 100%;
  min-width: 620px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__content a {
  padding: 10px 20px;
  color: #d90368;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.5s;
}
.nav__content a:hover {
  background-color: white;
}
/* BURGER */
.hamburger-menu {
  display: none;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #d90368;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #8b8b8b;
}
/* MAIN */
/* index.html upcoming-events.html past-events.html */
.main {
  width: 100%;
  height: fit-content;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.presentation {
  width: 100%;
  height: 100%;
  min-height: 95vh;
  display: flex;
  background-image: url("../img/THE-COLOR.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.presentation--upcoming-past {
  min-height: 55vh;
  background-image: none;
  flex-direction: row-reverse;
  background-color: #a5a5a5;
}
.presentation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 10;
  gap: 50px;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
}
.presentation__content--upcoming-past {
  padding: 10px;
}
.presentation__content h2 {
  color: #d90368;
  width: 100%;
  font-size: 70px;
  padding-left: 100px;
}
.presentation__content--upcoming-past h2 {
  text-decoration: underline;
}
.presentation__content h3 {
  margin: 10px;
  width: 100%;
  font-size: 40px;
}
.presentation p {
  width: 90%;
  min-height: 120px;
  line-height: 1.7;
}
.presentation--upcoming-past p {
  min-height: fit-content;
  line-height: 1;
  width: 100%;
}
.presentation ul {
  height: fit-content;
  width: 80%;
}
.presentation li {
  width: 100%;
  padding: 15px 0px;
  text-indent: 10px;
  list-style-image: url("../img/list-icon.png");
  list-style-position: inside;
}
.presentation__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.presentation__click {
  width: 100%;
}
.presentation__picture {
  flex: 10;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
.presentation__picture figure {
  width: 100%;
  height: 100%;
}
.presentation__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.presentation__picture--upcoming-past {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}
.main-info {
  width: 100%;
  height: 100%;
}
.main-nav {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-nav__checkbox {
  width: 60%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}
.main-nav__checkbox > label {
  min-width: 100px;
}
.main-nav__search {
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__search-text {
  max-width: 300px;
  width: 100%;
}
.main-nav__search-icon {
  height: 20px;
  width: 20px;
  margin: 0px 2px;
  object-fit: contain;
}
.main-content {
  padding: 30px;
  width: 100%;
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.476) 1px 1px 5px;
  padding: 15px 10px;
}
.card figure {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.card figure img {
  width: 100%;
  object-fit: cover;
}
.card div {
  width: 100%;
}
.card hr {
  margin: 15px 0px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__content h3 {
  font-size: 25px;
  margin: 5px 0px;
}
.card__content h5 {
  font-size: 16px;
  margin: 5px 0px;
}
.card__price {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
}
.card__price-link {
  color: black;
  text-decoration: underline solid #d90368 25%;
}

.card__price-link:hover {
  color: #d90368;
  text-decoration: underline solid black 25%;
}
/* contact.html */
.contact {
  width: 30vw;
  min-width: 300px;
  height: fit-content;
}
.contact label {
  display: block;
  margin: 30px 0px;
  font-weight: 600;
}
.contact input {
  width: 100%;
  height: 25px;
}
.contact .message {
  height: 20vh;
}
.contact .button {
  float: right;
  width: 80px;
  height: 40px;
  font-weight: 600;
  color: black;
  background-color: #f8ed94;
  text-align: center;
  border: solid black 1px;
  border-radius: 10px;
  white-space: no-warp;
}
.contact .button:hover {
  background-color: #f2d810;
}
/* stats.html */
.stats {
  max-width: 60vw;
  /* min-width: 850px; */
  width: 100%;
  margin: 20px;
  border: solid black 1px;
  border-collapse: collapse;
  empty-cells: show;
}
.stats th {
  background-color: #69696948;
  height: 50px;
  text-align: start;
  font-size: 30px;
  padding-left: 5px;
}
.stats td {
  border: solid black 1px;
  height: 20px;
  padding-left: 5px;
}
/* event.html */
.event {
  background-color: #ff674d;
  height: 50vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  gap: 15px;
}
.event figure {
  height: 100%;
  width: 50%;
  overflow: hidden;
  box-shadow: black 2px 2px 10px;
  border-radius: 10px;
}
.event figure img {
  object-fit: cover;
}
.event div {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: solid black 2px;
}
.event div h2 {
  font-size: 60px;
}
/* FOOTER */
.footer {
  background-color: #abe6fc;
  padding: 0px 50px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* scroll-snap-align: start; */
}
.footer__images {
  width: 20%;
  min-width: 100px;
  gap: 15px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__images img {
  height: 100%;
  max-height: 50px;
}
.footer p {
  font-size: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 1300px) {
  .presentation__content {
    font-size: 16px;
  }
  .presentation__content h2 {
    padding-left: 50px;
    font-size: 46px;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    display: block;
  }
  .nav {
    flex-direction: column;
  }
  .nav__side {
    width: fit-content;
  }
  .nav__content,
  .nav__side--right {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .hamburger-menu {
    display: block;
    width: 0px;
    height: 0px;
  }
}
@media only screen and (max-width: 920px) {
  .header {
    height: fit-content;
  }
  .presentation__picture {
    flex: 6;
  }
  .main-nav {
    flex-direction: column-reverse;
  }
  .main-nav__search,
  .main-nav__checkbox {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .presentation--upcoming-past {
    text-align: center;
  }
  .presentation--upcoming-past h2 {
    padding: 0px;
  }
  .presentation__click {
    justify-content: center;
  }
  .presentation__picture {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .main-nav__checkbox {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media only screen and (max-width: 410px) {
  .presentation__content h2 {
    padding: 0px;
    text-align: center;
  }
  .footer {
    gap: 20px;
    padding: 20px;
    height: fit-content;
    flex-direction: column;
  }
}
